<!-- Basic Info Section -->
    <section id="basicinfo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We're Getting Married!</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Date</h4>
                    <p class="text-muted">April 13th 2019</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Location</h4>
                    <p class="text-muted"><a href="https://www.google.com/maps/place/Van+Norman+Field+House+at+The+Wheeler+School's+Farm/@41.8574217,-71.3174407,16.94z/data=!4m5!3m4!1s0x89e45b8d033fdb1f:0xe53598d41a3b03c7!8m2!3d41.8573586!4d-71.3152502">Van Norman Field House</url><br>
                    640 Prospect Street<br>
                    Seekonk, Massachusetts 02771</a></p>
                </div>
            </div>
        </div>
    </section>
