<!-- Registry Section -->
    <section id="registry" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="lg-12 text-center">
                    <h2 class="section-heading">Registry</h2>
                    <h3 class="section-subheading text-muted">We will share a small registry after Christmas, but because we have a small apartment and we have almost everything we need, we would also appreciate gift certificates to any of the stores we shop at regularly:<br>
                    Amazon<br>
                    Stop & Shop<br>
                    Whole Foods<br>
                    Macy's<br>
                    JC Penny<br>
                    Staples<br>
                    Target<br>
                    </h3>
                </div>
            </div>
        </div>
    </section>
