<!-- Schedule Section -->
    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fri, April 12th, 6-8 PM</h4>
                                    <h4 class="subheading">Dinner at Flatbread</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Anyone who is in town is invited to come eat with us at <a href="https://www.google.com/maps/place/Flatbread+Company/@41.8296387,-71.4003145,15z/data=!4m5!3m4!1s0x0:0x3fffd3acc63b7ab6!8m2!3d41.8296387!4d-71.4003145" target="_blank">Flatbread Company</a>. We will have pizza, dessert, and an open bar.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sat, April 13th, 2-4 PM</h4>
                                    <h4 class="subheading">Photos of Brides, Bridesminions, and Parents</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The brides, bridesminions and parents will be taking pictures at a location TBD.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sat, April 13th, 4-4:30 PM</h4>
                                    <h4 class="subheading">Open Photos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Anyone who wants to come and take a photo with the brides is invited to meet us at the Van Norman Field House between 4 and 4:30.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sat, April 13th, 4:30 PM</h4>
                                    <h4 class="subheading">Large Group Photos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We'll be taking one large group photo with each side of the family starting promptly at 4:30, so anyone who wants to be included should be at the Van Norman Field House by then.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sat, April 13th, 4:30 PM</h4>
                                    <h4 class="subheading">Guests Arrive </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At this point, guests can start finding their seats, which will be assigned for both the ceremony and the reception.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sat, April 13th, Once all guests are seated</h4>
                                    <h4 class="subheading">Ceremony!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The moment you all have been waiting for.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sat, April 13th, Shortly after the ceremony</h4>
                                    <h4 class="subheading">Reception!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dinner will be in the form of a buffet of breakfast foods. Entertainment will be in the form of a variety of games and puzzles instead of music and dancing.</p>
                                    <p class="text-muted">Because the ceremony and reception are on school grounds, there will be no alcohol.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
