<section id="thankyou">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Credits</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cut fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Nina Ahern</h4>
                <p class="text-muted">Hair & Makeup</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading"><a href="https://alexhomer.smugmug.com/" target="_blank">Alex Homer</a></h4>
                <p class="text-muted">Photography</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Bob Rojee & Keith Etsey</h4>
                <p class="text-muted">Facilities</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-utensils fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading"><a href="https://www.amoshouse.com/BusinessesforGood/MoreThanaMealCatering.aspx" target="_blank">More Than a Meal Catering</a></h4>
                <p class="text-muted">Reception Food</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-utensils fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading"><a href="https://www.flatbreadcompany.com/" target="_blank">Flatbread Company</a></h4>
                <p class="text-muted">Rehearsal Dinner</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-book-reader fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">David Michel</h4>
                <p class="text-muted">Officiant</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-female fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading"><a href="https://www.etsy.com/shop/WardrobeByDulcinea?ref=shop_sugg" target="_blank">WardrobeByDulcinea</a></h4>
                <p class="text-muted">Jen's Dress</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-female fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading"><a href="http://www.ivyscustomcorsetry.com/gallery2.php?gal=1" target="_blank">Ivy's Custom Corsetry</a></h4>
                <p class="text-muted">Ange's Dress</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-user-friends fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">All our bridesminions</h4>
                <p class="text-muted">Becky McTeague, Ben Zaber, Hanna Strom-Weber, Kai Strom-Weber, Rigby Bendele, Sophia Connolly</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Palindrome, the Unattached Hunters List, Matt Zinno, and [alice shrugged]</h4>
                <p class="text-muted">Creating the circumstances that caused Ange and Jen to meet in the first place.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Tammy Kjonaas</h4>
                <p class="text-muted">Day-of Coordinating</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lightbulb fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Todd McClary, Patrick Berry, Darren Rigby</h4>
                <p class="text-muted">Puzzle Inspiration</p>
            </div>
        </div>
    </div>
</section>
