<!-- Values Section -->
    <section id="values">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Values</h2>
                    <h3 class="section-subheading text-muted">As we get ready to share this important day with you, we wanted to share some other things that are important to us.</h3>
                </div>
            </div>
            <div class="row text-left">
                <p class="text-muted">
                  <ul>
                    <li>We believe that America was founded on white supremacy, and that it is the responsibility of all of us who have benefited to help elevate those who have been harmed.</li>
                    <li>We believe that black lives matter.</li>
                    <li>We believe that no human is illegal and that family separation is a crime against humanity.</li>
                    <li>We believe that people of all genders should have the entire range of human experience available to them.</li>
                    <li>We believe that pregnancy should be a choice, that all young people should be taught comprehensive sex ed and that birth control should be free and easily available.</li>
                    <li>We believe that everyone should be paid equally for equal work, and that all people should be paid a living wage.</li>
                    <li>We believe that LGBTQ identities are valid and that their presence in society is a benefit.</li>
                    <li>We believe that food, clean water, housing, education and healthcare are basic human rights.</li>
                    <li>We believe that diversity is a strength, and that actively seeking out diversity over multiple dimensions is crucial.</li>
                    <li>We believe that equity is more important than equality.</li>
                    <li>We believe that representation matters.</li>
                    <li>We understand science - and science is true whether you believe or not!</li>
                  </ul>
                </p>
            </div>
        </div>
    </section>
